
#game-container {
    position: relative;
    background-image: none !important; 
    background-color: #040404a8; 
}

#game-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url('../../images/room_8/room_8_background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    opacity: 0.6;
    
    z-index: 0; 
}




.room-8-active #character-layer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    bottom: 20vh;
    height: 60vh;
    padding: 0 5%;
}

.room-8-active #character-layer img {
    position: relative; 
    height: auto;
    max-height: 100%;
    max-width: 45%; 
    object-fit: contain;
    bottom: auto;
    left: auto !important;
    right: auto !important;
    transform: none;
}
