
#game-container {
    position: relative;
    background-image: none !important;
    background-color: #040404a8; 
}

#game-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url('../../images/room_6/room_6_background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.6; 
    
    z-index: 0;
}



/* --- RESPONSIVE CHARACTER POSITIONING --- */

.room-6-active #character-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 20vh;
    height: 60vh;
    padding: 0 5%;
}


.room-6-active #character-layer img {
    position: relative; 
    height: auto;
    max-height: 100%;
    max-width: 45%; 
    object-fit: contain;
    bottom: auto;
    left: auto !important;
    right: auto !important;
    transform: none;
}


@media (max-width: 600px) {
    .room-6-active #character-layer img {
        max-width: 48%; 
    }

   
}