
#game-container {
    position: relative;
    background-image: none !important; 
    background-color: #040404a8; 
}

#game-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url('../../images/room_4/room_4_background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    opacity: 0.6; 
    
    z-index: 0; 
}


/* --- RESPONSIVE CHARACTER POSITIONING --- */

.room-4-active #character-layer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    bottom: 20vh;
    height: 60vh;
    padding: 0 5%;
}

.room-4-active #character-layer img {
    position: relative; 
    height: auto;
    max-height: 100%;
    max-width: 45%; 
    object-fit: contain;
    bottom: auto;
    left: auto !important;
    right: auto !important;
    transform: none;
}
@media (max-width: 600px) {
    
    .room-4-active #character-layer img {
        max-width: 48%; 
    }

    .room-4-active #character5:not(.is-listening) {
        position: absolute; 
        left: 50% !important;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
        z-index: 400;
    }

    .room-4-active #character5:not(.is-listening) ~ #guide {
        opacity: 0.1;
    }
}